@using OnlineJudge.Consts
@using OnlineJudge.Models.Domain
@model List<Assignment>
@{
    ViewData["Title"] = "Online Judge";
}

<div class="text-center">
    <h1 class="display-4">Available Assignments:</h1>
</div>

@if (Model.Any())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Time Limit (s)</th>
                <th scope="col">Memory Limit (MB)</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
                <tr>
                    <th scope="row">@task.Tite</th>
                    <td>@(task.TimeLimitSeconds)s</td>
                    <td>@(task.MemoryLimitMB)MB</td>
                    <td>
                        <a class="btn btn-info" asp-area="" asp-controller="Code" asp-action="View" asp-route-Id="@task.Id">Details</a>
                        @if (User.IsInRole(Roles.Administrator))
                        {
                            <a class="btn btn-secondary" asp-area="" asp-controller="Code" asp-action="Delete" asp-route-Id="@task.Id">Edit (TODO)</a>
                            <a class="btn btn-danger" asp-area="" asp-controller="Code" asp-action="Delete" asp-route-Id="@task.Id">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}