@using OnlineJudge.Consts
@using OnlineJudge.Models.Domain
@using OnlineJudge.Services;
@model List<Submission>
@{
    ViewData["Title"] = "Online Judge";
}

<div class="text-center">
    <h1 class="display-4">History of your submissions:</h1>
</div>

@if (Model.Any())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Submitter</th>
                <th scope="col">Status</th>
                <th scope="col">Assignment Title</th>
                <th scope="col">Language</th>
                <th scope="col">Submitted At</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var submission in Model)
            {
                var color = "";

                if (submission.Result == null)
                {
                    color = "#dbab0a";
                }
                else
                {
                    if (submission.Result.ExecutionStatus == ExecutionStatusEnum.Success)
                    {
                        var expected = submission.Assignment.TestCases.Select(x => x.Output).ToList();
                        var isOutputOk = OutputComparer.Compare(submission.Result.Output, expected);
                        color = isOutputOk ? "#28a745" : "#d73a49";
                    }
                    else
                    {
                        color = "#d73a49";
                    }
                }

                <tr>
                    <td scope="row">@submission.User.Login</td>
                    <td scope="row" style="background-color:@color"></td>
                    <td scope="row">@submission.Assignment.Title.Substring(0, Math.Min(100, submission.Assignment.Title.Length))...</td>
                    <td>@submission.Language</td>
                    <td>@submission.Submitted.ToString("yyyy-MM-dd hh:mm")</td>
                    <td>
                        <a class="btn btn-info" asp-area="" asp-controller="Code" asp-action="GetSubmission" asp-route-Id="@submission.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>