@using OnlineJudge.Consts
@using OnlineJudge.Models.Domain
@model List<Submission>
@{
    ViewData["Title"] = "Online Judge";
}

<div class="text-center">
    <h1 class="display-4">History of Submissions:</h1>
</div>

@if (Model.Any())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Assignment Title</th>
                <th scope="col">Language</th>
                <th scope="col">Submitted At</th>
                <th scope="col">Submitted Code</th>
                <th scope="col">Executed</th>
                <th scope="col">Execution Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var submission in Model)
            {
                var color = "green";

                if (submission.Executed == false || submission.Result == null)
                {
                    color = "red";
                }
                
                <tr style="background-color:@color">
                    <th scope="row">@submission.Assignment.Title</th>
                    <td>@submission.Language</td>
                    <td>@submission.Submitted</td>
                    <td><a href="/Code/Raw/@submission.Id">Click</a></td>
                    <td>@submission.Executed</td>
                    @if (submission.Result != null)
                    {
                        <td>@submission.Result.Time</td>
                    }
                    else
                    {
                        <td>N/A</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>