@using OnlineJudge.Consts;
@using OnlineJudge.Models.Domain
@using OnlineJudge.Miscs
@using OnlineJudge.Models.IO
@using OnlineJudge.Parsing
@model Result<AssignmentViewModel>
@{
    ViewData["Title"] = "View";
}

@if (Model.Success)
{
    <div id="content_box">
        <b class="fieldName">Title: </b>@Model.Value.Title
        <br>
        <br>
        <b class="fieldName">Description: </b>@Model.Value.Description
        <br>
        <br>
        <b class="fieldName">Time Limit (seconds): </b>@Model.Value.TimeLimitSeconds
        <br>
        <br>
        <b class="fieldName">Memory Limit (MB): </b>@Model.Value.MemoryLimitMB
        <br>
        <br>
        <b class="fieldName">Example Input:</b>
        <br>
        <br>
    
        <textarea id="outputListArea" autocomplete="off" readonly="readonly">@Model.Value.TestCases.First().Input</textarea>
        <br>
        <br>

        <b class="fieldName">Example Output:</b>
        <br>
        <br>

            <textarea id="outputListArea" autocomplete="off" readonly="readonly">@Model.Value.TestCases.First().Output</textarea>
        <br>
        <br>
        <hr class="fieldName">
        @await Html.PartialAsync("CodeEditor", new CodeEditorParams { AssignmentId = @Model.Value.Id, AvailableLanguages = Model.Value.AvailableLanguages})
    </div>
}
else
{
    <b>Something went wrong</b>
    <b>@Model.Error</b>
}

<style>
    .fieldName
    {
        color: rgb(255, 255, 255);
    }

    #outputListArea 
    {
        width: 50%;
    }

    #content_box
    {
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        color: rgb(126, 231, 135);
    }

    #content_box > textarea
    {
        width: 100%;
    }
</style>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>